doctype html
html
	head
		//link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/custom.css")
		link(rel="stylesheet", href="vender/toastr/toastr.css")
	title Mean Stack App
	body
		block main-content
		include scripts